.flex-row {
    display: flex;
    gap: 100px;
    justify-content: space-between;
}

.country-detail {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: auto;
    height: 100vh;
}

.margin-left {
    margin-left: 10px;
}