
.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 30px;
}

.countries-container{
    display: grid;
    grid-template-columns: repeat(4, 23.7%);
    gap: 40px;
}

