

.flex {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 20px 0px;
    margin-bottom: 10px;
}


input{
    border: 0px;
    margin-left: 10px;
}

input:focus {
    outline: none;
  }

.search {
   background-color: white;
   padding: 0px 10px;
   border-radius: 5px;
}

.darkmode {
    background-color: #2b3743;
    color: white;
    padding: 0px 10px;
   border-radius: 5px;
  }

  input, select {
    width:300px;
    font-size: large;
    padding: 5px;
}

.dark {
    background-color:#2b3743;
    color: white; 
}