
.flex-row {
    display: flex;
    gap: 30px;
}

.gray {
    color: rgb(82, 79, 79);
}

.country-info .darkC {
    color:white;
}

.country-info .boldC {
    color: black;
    
}

.country-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
}


