
.borders {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.borders div {
    border: 1px solid rgb(233, 228, 228);
    color: rgb(94, 90, 90);
    padding: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

Link {
    text-decoration: none;
    color: black;
}

.mar {
    margin-top: 8px;
}