
.card {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

img {
    width: 100%;
    height: 100%;
    border-radius: 2px;

    /* border: 1px solid red; */
}

.img-div {
    width: 100%;
   height: 200px;
  
}

.margin {
  margin: 20px;
  padding-bottom: 10px;
}

p {
    padding: 2px 0px;
}