.flex {
    display: flex;
    justify-content: space-around;
    margin: 0px 40px;
 
   
}

header {
    width: 100%;
    background-color: white;
    padding: 8px 0px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 50px;
}

.darkMode {
    background-color: #2b3743;
    color: white;
  }