.error-container {
    text-align: center;
}
.error-code {
    font-size: 48px;
    color: #ff0000;
    margin: 0;
}
.error-message {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}
.error-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}
.error-retry-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}