

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: rgb(250, 250, 250);
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid red; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f7efef;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#root {
  width: 100%;
  /* border: 1px solid red; */

}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
 color: inherit;
}